@import url("https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&display=swap");

:root {
  --size-xxs: 0.0625rem;
  --size-xs: 0.125rem;
  --size-s: 0.5rem;
  --size-m: 1rem;
  --size-l: 2rem;
  --size-xl: 3rem;
  --size-xxl: 6rem;

  --color-primary: #8871ff;
  --color-secondary: #e1fe6e;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "David Libre", serif;
}

button,
.button {
  border: 0;
  cursor: pointer;
  padding: var(--size-s) var(--size-m);
  font-family: monospace;
  font-size: var(--size-m);
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  display: inline-block;
  text-align: center;
}

input {
  color: white;
  background-color: #ffffff33;
  font-family: monospace;
  border: none;
  border-bottom: var(--size-xs) solid var(--color-secondary);
  padding: var(--size-s) var(--size-m);
  margin-bottom: var(--size-m);
}

button:focus,
.button:focus,
input:focus {
  outline: var(--size-xs) solid var(--color-secondary);
}

main {
  background-color: var(--color-primary);
  min-height: 100vh;
  padding: var(--size-m);
}

section {
  max-width: 1024px;
  margin: 0 auto;
}
